<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body role="document">

    <div class="container theme-showcase" role="main">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <table>
        <tr>
          <td colspan=2>
            <p style="color: red;">Nearly a decade after it began, the HDC Lab is no longer active.  These pages are archival and will not be updated regularly.</p>
          </td>
        </tr>
        <tr>
          <td class="hidden-xs hidden-sm" style="width: 150px;">
            <a href="http://hdc.cs.arizona.edu"><img id="logo" style="height: 72px;" src="/img/logo.svg"></a>
          </td>
          <td>
            <h1 style="display: inline;">{{ page.title }}</h1>
            <p style="padding-top: 6px;">{% include topnav.html %}</p>
          </td>
        </tr>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row" style="padding-top: 12px;">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {{ content }}
      </div>
      <div class="col-md-1"></div>
    </div>

    </div>

  </body>

</html>
