<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body role="document">

    <div class="container theme-showcase" role="main">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="col-md-2 hidden-xs hidden-sm"><a href="http://hdc.cs.arizona.edu"><img id="logo" height="80" src="/img/logo.svg"></a><br/><br/></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-2 hidden-xs hidden-sm" id="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="col-md-1"></div>
    </div>

  </body>

</html>
