<!DOCTYPE html>
<html>
  
  {% include head.html %}

  <body role="document">

    <div class="container theme-showcase" role="main">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 hidden-xs hidden-sm"><a href="http://hdc.cs.arizona.edu"><img id="logo" src="/img/logo.svg"></a><br/><br/></div>
      <div class="col-md-8">
        <h1 style="display: inline;">{{ page.title }}</h1>
        <p>{% include topnav.html %}</p>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {{ content }}
      </div>
      <div class="col-md-1"></div>
    </div>

    </div>

  </body>

</html>
